################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UItest/.vs/UItest/v15/Server/sqlite3/db.lock
/UItest/.vs/UItest/v15/.suo
/UItest/.vs/UItest/v15
/UItest/.vs/**
*.pdb
*.pdb
*.pdb
UItest/UItest/obj/Release/UItest.pdb
*.ide
*.ide-shm
*.ide-wal
