################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UItest/.vs/UItest/v15/Server/sqlite3
/.vs/slnx.sqlite
/UItest/.vs/UItest/v15/.suo
/UItest/Main/obj
/UItest/UItest
